$primary: #b2a9e8;
$main-border: #9281ed;
$body-bg: #201b32;
$main-bg: #302749;
$footer: #201A31;
$body-color: #f0e6f6;
$border-color: $body-color;
$navbar-dark-active-color: #f0e6f6;
$dropdown-divider-bg: rgba(240, 230, 246, 0.25);
$dropdown-link-hover-bg: #3e365c;
$dropdown-border-color: rgba(240, 230, 246, 0.25);
$card-border-color: rgba(240, 230, 246, 0.25);
$nav-tabs-link-active-color: $body-color;
$nav-tabs-link-active-bg: $main-bg;

$font-size-base: 0.9rem;
$font-size-root: 0.9rem;
$pagination-font-size: 0.9rem;
$font-family-base: Arial, sans-serif;

$gradient-1: #5d5195;
$gradient-2: #695dac;
$gradient-3: #7e69c1;
$gradient-4: #8e78e1;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
    background-image: url('../../public/img/bg-stars.png');
}

.bg-main {
    background-color: $main-bg;
}

.chart-beatmap-card {
    background-color: $body-bg;
    border: 1px solid $body-color;
}

.chart-beatmap-img {
    background-size: cover;
    background-position: center;
}

#mainContainer {
    padding: 0;
    background-color: $main-bg;
    box-shadow: 0 0 5px $main-border;
    border: 1px solid $main-border;
}

.rating-bar {
    color: $body-color;
    margin-bottom: 4px;
    text-decoration: none
}

.rating-bar:hover {
    text-decoration: underline;
    opacity: 0.8;
}

.mode-badge img {
    width: 15px;
    height: 15px;
    margin-right: 3px;
}

@media (max-width: 991px) {
    .navbar {
        background-color: $gradient-1 !important;
    }

    .navbar-toggler {
        color: white;
        border-radius: 0;
        border: none;
    }

    .navbar-toggler:focus {
        box-shadow: none;
        outline: none;
    }

    .navbar .nav-item {
        border-top: 1px solid $primary;
    }

    .navbar .nav-link {
        color: $body-color;
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar {
        background: linear-gradient(0deg, $gradient-1 0%, $gradient-2 50%, $gradient-3 50%, $gradient-4 100%);
    }

    .navbar .nav-link {
        color: $body-color;
        padding: 0;
    }
}

.navbar-brand {
    font-size: 0.9rem;
    font-weight: bold;
}

.navbar > * {
    border-bottom: 1px solid $main-border;
}

.navbar .nav-item {
    padding: 5px 0;
}

.navbar .nav-link.dropdown-toggle {
    color: $body-color;
}

.navbar .nav-link:hover {
    color: $body-color;
    text-decoration: underline;
}

footer {
    padding: 10px 5px 5px 5px;
    background: $footer url('../../public/img/bg-dots.png') repeat-x !important;
}

.page-item.disabled .page-link {
    background-color: $body-bg-dark;
}

a {
    font-size: inherit !important;
}

a:has(i) {
    text-decoration: none;
}

.progress {
    border-radius: 0;
}

.audio-preview {
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

@media (max-width: 767px) {
    .audio-preview {
        height: 75px;
    }
}


.audio-preview .mode-icon-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    height: 100%;
    width: 100px;
    background: linear-gradient(to right, $body-bg, transparent);
    z-index: 2;
}

.audio-preview .mode-icon-overlay img {
    opacity: 0.8;
    width: 25px;
}

.audio-preview .button-overlay {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 3;
    background-color: $body-bg;
}

.audio-preview .button-overlay {
    opacity: 0;
    transition: all 200ms ease-in-out;
}

.audio-preview:hover .button-overlay, .audio-preview[data-playing='true'] .button-overlay {
    opacity: 1;
    background-color: rgba($body-bg, 0.5);
    transition: all 200ms ease-in-out;
}

.audio-preview img {
    transition: opacity 200ms ease-in-out;
}

.audio-preview:hover > img, .audio-preview[data-playing='true'] > img {
    opacity: 0.5;
    transition: opacity 200ms ease-in-out;
}

.audio-preview:hover .mode-icon-overlay img, .audio-preview[data-playing='true'] .mode-icon-overlay img {
    opacity: 0.4;
    transition: opacity 200ms ease-in-out;
}

.audio-preview:hover {
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.rating-group-header[aria-expanded="true"] .bi-chevron-down {
    transform: rotate(180deg);
    transition: transform 0.1s;
}

.rating-group-header .bi-chevron-down {
    transition: transform 0.1s;
}

.rating-group-rating {
    border-top: 1px solid $card-border-color;
}

.comments-box {
    height: 400px;
    overflow-y: auto;
}
